*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

:root {
  --primary-clr: rgb(38, 40, 58); 
  --bgc-clr: rgb(128, 128, 128); 
  --secondary-clr: #dbe6ff; 
}

body {
  background-color: var(--bgc-clr);
  color: var(--primary-clr);
}

