*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

:root {
  --primary-clr: salmon; 
  --bgc-clr: #fff; 
  --secondary-clr: #383838; 
}



